.add{
    width:100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.730);
    display: flex;
    align-items: center;
    justify-content: center;

   .model{
    padding: 50px;
    background-color: #2a3447;
    border-radius: 10px;
    position: relative;

    h1{
        margin-bottom: 30px;
        font-size: 24px;
        color: #ddd;
    }

    .close{
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
    }

    form{
        display: flex;
        flex-wrap: wrap;
        max-width: 380px;
        justify-content: space-between;

        .item{
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-bottom: 20px;
        }

        label{
            font-size: 14px;
        }

        input{
            padding: 10px;
            background-color: transparent;
            color: white;
            outline: none;
            border: 1px solid #ddd;
            border-radius: 4px;
        }

    }
    
    button{
        width: 100%;
        padding: 10px;
        cursor: pointer;
    }
   }
}